.roster
  p#notice
    = notice
  h3
    | User Lineup
  table.player_roster.sortable
    thead
      tr
        th
          | Pos
        th
          | Name
        th
          | Team
        th
          | Avg.
        th
          | Cost
        th
      - @players.each do |player|
        tr
          td.leftmost
            = player[:position]
          td
            = player[:name]
          td
            = player[:team]
          td
            = player[:avgpoints]
          td
            = player[:cost]
          td
            = button_to "+", {}
          td
      tr

    tbody

  #player_list
  br
.userlineup
  p#notice
    = notice
  h3
    | Your Lineup
  table.user-lineup-table.sortable
    thead
      tr
        th.leftmost
          | Pos.
        th
          | Name
        th
          | Team
        th
          | Avg. Points
        th
          | Cost
        th
    tbody
      tr
        td.leftmost
          | PG
        td#player_list
      tr
        td.leftmost
          | PG
      tr
        td.leftmost
          | SG
      tr
        td.leftmost
          | SG
      tr
        td.leftmost
          | SF
      tr
        td.leftmost
          | SF
      tr
        td.leftmost
          | PF
      tr
        td.leftmost
          | PF
      tr
        td.leftmost
          | C
      - @players.each do |nbaplayer|
        tr
          td.leftmost
            = nbaplayer[:position]
          td
            = nbaplayer[:name]
          td
            = nbaplayer[:team]
          td
            = nbaplayer[:avgpoints]
          td
            = nbaplayer[:cost]
          td
            = button_to "+", {}
          td
            = button_to 'Remove', nbaplayer, method: :delete, data: { confirm: 'Are you sure?' }
      tr
        td.addmore
          = link_to 'Add more players', list_path
      tr
        td
          | Cost Sum:
          = @costsum
        td
          | Avg Sum:
          = @avgsum
  br
  .graph
    p
      | Dollars per point
