.plist{
  .players-list-table{
    float: left;
    width: 5em;
    background-color: $playertablebg;
    thead{
      padding: 1em;
      tr{
        th{
          font-size: 1.2em;
          padding: .5em;
          text-align: left;
        }
      }
    }
    tbody{
      max-height: 300px;
      overflow: auto;
      tr{
        td{
          padding: .5em;
        }
      }
    }
  }
}