@import "base/variables.scss";

.graph{
  p{
    text-align: center;
  }
  svg{
    background-color: gray;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    padding-top: 1em;
  }
  rect{
    fill: $concrete;
  }
  g{
    fill: white;
  }
}