.userlineup{
  float: middle-right;
  width: 5em;
  h3{
    text-align: center;
  }
  .user-lineup-table{
    border-radius: 1em;
    background-color: $playertablebg;
    thead{
      padding: 1em;
      tr{
        th{
          font-size: 1.2em;
          padding: .5em;
        }
      }
    }
    td{
      padding: .5em;
    }
  }
}
