$graphrectcolor: #95a5a6;

.graph{
  p{
    text-align: center;
  }
  svg{
    background-color: $navhovercolor;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    padding-top: 1em;
  }
  rect{
    fill: $graphrectcolor;
  }
  g{
    fill: $navhovercolor;
  }
}