.navbar{
  background-color: rgba(0,0,0,.5);
  padding: 2em;
  .menu{
    li{
      display: inline;
      text-decoration: none;
      padding: 1em;
    }
    a{
      color: $navlinkcolor;
      text-decoration: none;
      font-size: 1.5em;
    }
    a:hover{
     color: $navhovercolor;
     text-decoration: none;
      }
  }
  .login{
    border-radius: .2em;
    padding: .3em;
    color: $navlinkcolor;
    float: middle;
  }
}
