.navbar{
  background-color: $navbgcolor;
  padding: 2em;
  text-align: center;
  .menu{
    float: left;
    li{
      display: inline;
      text-decoration: none;
      padding: 1em;
    }
    a{
      color: $navlinkcolor;
      text-decoration: none;
      font-size: 1.8em;
    }
    a:hover{
     color: $navhovercolor;
     text-decoration: none;
      }
  }
  .login{
    float: right;
    border-radius: .2em;
    padding: .3em;
    color: $navlinkcolor;
  }
}
