.navbar{
  background-color: rgba(225,225,225,.5);
  padding: 1.5em;
  .menu{
    li{
      display: inline;
      text-decoration: none;
      padding: 1em;
    }
    a{
      color: rgba(100,200,75,.8);
      text-decoration: none;
      font-size: 1.5em;
    }
    a:hover{
     color: $navhovercolor;
     text-decoration: none;
      }
  }
  .login{
    border-radius: .2em;
    padding: .3em;
    color: $navlinkcolor;
  }
}
