.signed-in{
  li{
    background-color: $navhovercolor;
    color: $navlinkcolor;
    list-style-type: none;
    display: inline;
    padding: .5em;
    border-radius: .3em;
  }
   a{
    background-color: $navbgcolor;
    font-size: 1.5em;
    padding: .5em;
    text-decoration: none;
    color: $navlinkcolor;
    width: 1em;
    transition: background-color 1s;
    border-radius: .3em;
  }
  a:hover{
    color: $navlinkcolor;
    background-color: $navhovercolor;
    border-radius: .3em;
  }
}