.signed-out{
  a{
    background-color: black;
    font-size: 1.5em;
    padding: .5em;
    text-decoration: none;
    color: white;
    width: 1em;
    transition: background-color 1s;
    border-radius: .3em;
  }
  a:hover{
    color: white;
    background-color: gray;
    border-radius: .3em;
  }
}