// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "base/variables.scss";
.notice{
  margin: 0 auto;
  text-align: center;
}
.alert{
  margin: 0 auto;
  text-align: center;
}
.loginform{
  background-color: $clouds;
  border-radius: 1em;
  margin: 0 auto;
  width: 15em;
  padding: 1em;
  .actions{
    padding: 1em;
  }
}