@import 'base/variables.scss';

.navbar{
  background-color: black;
  padding: 2em;
  text-align: center;
  box-shadow: 1px 1px 1px 1px solid black;
  .menu{
    text-align: left;
    float: left;
    li{
      display: inline;
      text-decoration: none;
      padding: 1em;
    }
    a{
      color: white;
      text-decoration: none;
      font-size: 1.8em;
    }
    a:hover{
     color: gray;
     text-decoration: none;
      }
  }
  .login{
    float: right;
    background-color: gray;
    border-radius: .2em;
    padding: .3em;
    color: white;
    li{
      list-style-type: none;
      display: inline;
      padding: .5em;
    }
    a{
      text-decoration: none;
      color: white;
      background-color: black;
      padding: .2em;
      border-radius: 3px;
    }
    a:hover{
      background-color: white;
      color: black;
    }
  }
  .login:hover{
  }
}
