@import 'base/variables.scss';

.navbar{
  background-color: black;
  padding: 2em;
  text-align: center;
  box-shadow: 1px 1px 1px 1px solid black;
  .menu{
    text-align: left;
    float: left;
    a{
      color: white;
      text-decoration: none;
      font-size: 1.8em;
    }
    a:hover{
     color: gray;
     text-decoration: none;
      }
    a:active{
      color: $greensea;
    }
  }
  .login{
    float: right;
    background-color: gray;
    border-radius: .2em;
    padding: .2em;
    li{
      list-style-type: none;
    }
  }
  .login:hover{

  }
}
#nav li{
  padding: 1.5em;
  display: inline;
  list-style-type: none;
}
