@import "base/variables.scss";

.userlineup{
  h3{
    text-align: center;
  }
  .players-list-table{
    margin: 0 auto;
    vertical-align: middle;
    background-color: $silver;
    thead{
      padding: 1em;
      tr{
        th{
          font-size: 1.2em;
          text-align: center;
          padding: .5em;
        }
      }
    }
    tbody{
      tr{
        td{
          
        }
      }
    }
    td{
      text-align: center;
      padding: .5em;
    }
  }
}