<% if !@lineup_item.nil? && @lineup_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @lineup_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @lineup_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @lineup_items.each do |lineup_item| %>
    <%= render 'carts/cart_row', product: lineup_item.product, lineup_item: lineup_item, show_total: true %>
  <% end %>
<% end %>
