/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar{
  background-color: black;
  padding: 2em;
  text-align: center;
  box-shadow: 1px 1px 1px 1px solid black;
}
#nav li{
  padding: 1.5em;
  display: inline;
  list-style-type: none;
}
.navbar .menu{
  text-align: left;
  float: left;
}
.navbar .menu a{
  color: white;
  text-decoration: none;
  font-size: 1.6em;
}
.navbar .menu a:hover{
  color: gray;
  text-decoration: none;
}
.navbar .login{
  float: right;
  background-color: gray;
  border-radius: .2em;
  padding: .2em;
}
.navbar .login:hover{
  background-color: gray;
}
.navbar .login li{
  list-style-type: none;
}
.navbar .login a{
  font-size: 1em;
  color: black;
}
.navbar .login a:hover{
  color: white;
}
.navbar li{
  color: white;
  list-style-type: none;
  display: inline;
  padding: 3em;
}
.navbar a{
  color: white;
  text-decoration: none;
  font-size: 1.8em;
}
.navbar a:hover{
  color: gray;
  text-decoration: none;
}
